---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
---

<Layout title="Game Info InfiniteXP Blog">
    <Main>
        <h1 transition:animate="fade" class="">Game Info InfiniteXP Blog</h1>
        <div>Hello</div>
        <div>World</div>
        <div>Again</div>
    </Main>
</Layout>
