---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import { Image } from 'astro:assets';

interface Props {
    title?: string;
}

const { 
	title = "Game",
} = Astro.props;
---

<Layout title={title}>
    <Main>
        <h1 class="my-8 text-4xl font-bold">God of War Ragnarok</h1>
        <div class="flex justify-center items-center py-8">
            <Image transition:name="image" src='/gow-poster.png' alt="Game card image" width="1024" height="616"/>
        </div>
        <div class="flex flex-col">
            <div class="py-6">
                <p>Rating: 4.5 / 5</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, accusamus voluptatum magnam dolor est, blanditiis voluptates hic repudiandae neque eos, optio officiis commodi explicabo nihil non atque eaque? Reiciendis, similique!
                Deleniti expedita vel eligendi ipsa quia quisquam velit ipsam sed facilis debitis magnam recusandae hic itaque nesciunt, officia tempore quidem ab odit! Non, eos deserunt commodi reprehenderit optio incidunt assumenda.
                Corrupti alias beatae, doloribus delectus qui rerum ducimus labore, voluptas consequuntur aspernatur sint! Voluptatum, quod mollitia ab et labore minima culpa qui, blanditiis, quas laboriosam deleniti quasi repellat eos. Iusto?
                Porro magnam totam odio neque cumque officia ipsum iusto tempore deleniti! Modi odit iste, minus laboriosam sint ducimus accusamus dignissimos neque inventore esse explicabo ratione sequi, id doloribus atque eum!
                Porro magnam totam odio neque cumque officia ipsum iusto tempore deleniti! Modi odit iste, minus laboriosam sint ducimus accusamus dignissimos neque inventore esse explicabo ratione sequi, id doloribus atque eum!
                Porro magnam totam odio neque cumque officia ipsum iusto tempore deleniti! Modi odit iste, minus laboriosam sint ducimus accusamus dignissimos neque inventore esse explicabo ratione sequi, id doloribus atque eum!
                Porro magnam totam odio neque cumque officia ipsum iusto tempore deleniti! Modi odit iste, minus laboriosam sint ducimus accusamus dignissimos neque inventore esse explicabo ratione sequi, id doloribus atque eum!
                Fugiat quia quisquam consequatur dicta quibusdam, provident natus distinctio doloremque architecto unde neque iusto qui et sed dolor? Incidunt laborum expedita ex necessitatibus nihil atque, non quibusdam facilis doloribus eligendi?
                </p>

                <p class="my-8">Obcaecati quasi dignissimos, incidunt itaque, consequatur voluptates accusantium laboriosam accusamus officiis aliquam dicta necessitatibus eos minus veritatis recusandae. Incidunt cum quibusdam quae ipsam natus dolor quasi odit quia nisi tempore?
                Iste, quam saepe iusto dolorum recusandae modi atque aspernatur veniam, numquam tempore nulla ex? Provident vel dignissimos nostrum eligendi, atque voluptatem. Dolores, possimus non cum culpa laudantium minima soluta consequatur.
                Ut eveniet, itaque quia natus qui explicabo, sequi quam quaerat mollitia eos accusantium nulla ipsam odit cupiditate iste voluptate. Est, omnis. Molestias libero dignissimos aliquam animi eaque perspiciatis, dicta mollitia!</p>
            </div>
        </div>
    </Main>
</Layout>
