---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import { Image } from 'astro:assets';
import CustomCard from '../components/CustomCard.astro';
---

<Layout title="InfiniteXP Blog">
    <Main>
        <h1 transition:animate="slide" class="">InfiniteXP Blog</h1>
        <CustomCard imageUrl='/gow-poster.png' href='/gameInfo' styles="shadow-md flex justify-between pointer cursor-pointer rounded-md overflow-hidden" title='God Of War : Ragnarok' body='Rating: 4.5/5'>
       </div>
    </Main>
</Layout>
