---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
---

<Layout title="InfiniteXP Blog">
    <Main>
        <h1 class="">InfiniteXP Blog</h1>
    </Main>
</Layout>
