---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import { Image } from 'astro:assets';
import CustomCard from '../components/CustomCard.astro';
import { getCollection } from 'astro:content'
import PostList from '../components/PostList.astro';

const posts = await getCollection("posts");
---

<Layout title="InfiniteXP Blog">
    <Main>
        <h1 transition:animate="fade"  class="font-bold text-4xl py-14 ">Reviews</h1>
        <PostList posts={posts}/>
       </div>
    </Main>
</Layout>
