---
import { Image } from "astro:assets";
---

<header
class="flex justify-between items-center bg"
>
    <a href="/"class="flex justify-center items-center">
        <Image
        src="/infinity-symbol.png"
        width={60}
        height={60}
        alt="InfiniteXP Logo"/>
    </a>
</header>